{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/techjosie_icon.png' %}">
</head>

<body>

    <div class="page-container">
        <!-- Site Header -->
        {% include 'Site/base_header.html' %}

        <!-- Page Header -->
        <div class="heading-parallax">
            <div class="block-padding">
                <h1>{{page_heading}}</h1>
            </div>
        </div>

        <a href="" id="to-top">
            <div class="to-top">
                <img src="{% static 'images/uparrow_icon.png' %}">
            </div>
        </a>
        

        <!-- Page Body -->
        <div class="content-area-wrap">
            <div class="content-area">

                <!-- Right Sidebar -->
                <div class="sidebar left-sidebar">
                    {% include 'Site/base_left_sidebar.html' %}
                </div>

                <!--Page Content -->
                <div class="page-content-wrap">
                    <div class="page-content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

                <!-- Right Sidebar -->
                <div class="sidebar">
                    {% include 'Site/base_sidebar.html' %}
                </div>

            </div>
        </div>
        
        

        <!-- Site Footer -->
        {% include 'Site/base_footer.html' %}
    </div>
</body>


{%csrf_token%}

</html>
<script src="{% static 'js/app.js' %}"></script>
<script>

    function set_timezone() {
        const stz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                window.location = window.location.pathname;
            }
        };
        xhr.open("POST", "{% url 'set_timezone' %}", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");

        xhr.send(
            JSON.stringify({
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "timezone": stz,
            }));
    }

    // If this variable doesnt exist the user has just landed
    if (localStorage.getItem("second_visit_and_on") === null) {
        console.log("This user just landed");

        // Do everything you want to do only once on first landing
        set_timezone();

        // Then set the landed variable so we know the user
        // has already visited at least 1 page.
        localStorage.setItem("second_visit_and_on", 1);
    } else {
        // If the variable exists, dont run first-time code. We 
        // let the value persist so these functions are not ran again.
        console.log("This user has already been to one or more pages.");
    }

</script>