{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/techjosie_icon.png' %}">
</head>

<body>

    <div class="page-container">
        <!-- Site Header -->
        {% include 'Site/base_header.html' %}

        <!-- Page Body -->
        <div class="content-area-wrap">
            <div class="content-area">

                <!--Page Content -->
                <div class="page-content-wrap">
                    <div class="page-content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="sidebar">
                    {% include 'Site/base_sidebar.html' %}
                </div>
                
            </div>
        </div>

        <!-- Site Footer -->
        {% include 'Site/base_footer.html' %}
    </div>
</body>

</html>
<script src="{% static 'js/app.js' %}"></script>