<div class="">
    <div class="block-padding">
        <h2 class="secondary">{{time|default:"00:00 N/A"}}</h2>
        <p class="lg-primary">{{date|default:"Unknown, 00 0000"}}</p>
    </div>

</div>
<div class="spacer"></div>


<div class="">
    <h3 class="secondary">Search</h3>
    <div class="separator"></div>
    <div class="block-padding">
        <form action="" method="" style="display: flex;">
            <input name="query" id="query" type="text">
            <div style="padding-left: 8px;">
                <button type="submit">
                    Go
                </button>
            </div>
        </form>
    </div>
</div>