{% load static %}
<div class="header-top"></div>
<div class="header">
    <div class="header-bar">
        <div class="menu-collapsible-btn" onclick="toggle_main_menu()">
            <img src="{% static 'images/menu_icon.png' %}">
        </div>

        <div class="header-bar-btn-wrap">
            <a href="/">
                <div class="header-bar-btn">
                    <img src="{% static 'images/techjosie_icon.png' %}" width="40px">
                </div>
            </a>
        </div>

        <!-- Information about me, my experience, and background/history -->
        <div class="header-bar-btn-wrap noshow" title="Portfolio" onclick="toggle_learn_menu()">
            <div class="header-bar-btn">
                <span>Portfolio</span>
            </div>
        </div>
        <!-- Pages related to my freelance services -->
        <div class="header-bar-btn-wrap noshow" title="Services" onclick="toggle_services_menu()">
            <div class="header-bar-btn">
                <span>Services</span>
            </div>
        </div>
        <!-- Blog pages -->
        <div class="header-bar-btn-wrap noshow" title="Blog" onclick="toggle_blog_menu()">
            <div class="header-bar-btn">
                <span>Blog</span>
            </div>
        </div>
        <!-- Contact Links -->
        <div class="header-bar-btn-wrap noshow" title="Contact" onclick="toggle_contact_menu()">
            <div class="header-bar-btn">
                <span>Contact</span>
            </div>
        </div>

    </div>
</div>
<div class="dropdown-menu collap-content" id="main-dropdown-menu">
    <div class="menu-ctgs">
        <div class="menu-ctg-wrap">
            <p class="primary">Pages</p>
            <div class="menu-link">
                <a href="{% url 'index' %}" title="Home">Home</a>
            </div>
            <div class="menu-link">
                <a href="{% url 'services' %}" title="Services">Services</a>
            </div>
            <div class="menu-link">
                <a href="{% url 'portfolio' %}" title="Portfolio">Portfolio</a>
            </div>
            <div class="menu-link">
                <a href="{% url 'contact' %}" title="Contact">Contact</a>
            </div>
        </div>
        <div class="menu-ctg-wrap">
            <p class="primary">Blog</p>
            <div class="menu-link">
                <a href="" title="Explore">Explore</a>
            </div>
            <div class="menu-link">
                <a href="" title="Latest">Latest</a>
            </div>
            <div class="menu-link">
                <a href="" title="Popular">Popular</a>
            </div>
        </div>
        <div class="menu-ctg-wrap">
            <p class="primary">Find Me</p>
            <div class="menu-link">
                <a href="" title="Fiverr">
                    Fiverr
                </a>
            </div>
            <div class="menu-link">
                <a href="" title="LinkedIn">
                    LinkedIn
                </a>
            </div>
            <div class="menu-link">
                <a href="" title="GitHub">
                    GitHub
                </a>
            </div>
            <div class="menu-link">
                <a href="" title="Email">
                    Email
                </a>
            </div>
            <div class="menu-link">
                <a href="" title="Online">
                    Online
                </a>
            </div>

        </div>
    </div>

</div>

<div class="dropdown-menu collap-content" id="learn-dropdown-menu">
    <h2>Portfolio</h2>
    <div class="menu-ctgs">
        <div class="menu-ctg-wrap">
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="{% url 'portfolio' %}" title="Overview">Overview</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="/portfolio/#introduction" title="Introduction">Introduction</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="/portfolio/#experience" title="Experience">Experience</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="/portfolio/#education" title="Education">Education</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="/portfolio/#skills" title="Skills">Skills</a>
            </div>

        </div>

        <div class="menu-ctg-wrap">
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="/portfolio/#technologies" title="Technologies">Technologies</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="" title="Project Showcase">Project Showcase</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="" title="Testimonials">Testimonials</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="" title="Request Access">Request Access</a>
            </div>
            <div class="menu-link" onclick="close_learn_menu()">
                <a href="" title="Redeem Access">Redeem Access</a>
            </div>
        </div>

    </div>
</div>
<div class="dropdown-menu collap-content" id="services-dropdown-menu">
    <h2>Services</h2>
    <div class="menu-ctgs">
        <div class="menu-ctg-wrap">
            <div class="menu-link">
                <a href="{% url 'services' %}" title="Browse All">Browse All</a>
            </div>
            <div class="menu-link">
                <a href="/services/#web-development" title="Web Development">Web Development</a>
            </div>
            <div class="menu-link">
                <a href="/services/#python-scripting" title="Python Scripting">Python Scripting</a>
            </div>
        </div>
    </div>
</div>
<div class="dropdown-menu collap-content" id="blog-dropdown-menu">
    <h2>Blog</h2>
    <div class="menu-ctgs">
        <div class="menu-ctg-wrap">
            <div class="menu-link">
                <a href="" title="Explore">Explore</a>
            </div>
            <div class="menu-link">
                <a href="" title="Latest">Latest</a>
            </div>
            <div class="menu-link">
                <a href="" title="Popular">Popular</a>
            </div>
        </div>
        <div class="menu-ctg-wrap">
            <div class="menu-link">
                <a href="" title="Search">Search</a>
            </div>
            <div class="menu-link">
                <a href="" title="Search">RSS</a>
            </div>
            <div class="menu-link">
                <a href="" title="Search">Why do I blog?</a>
            </div>
        </div>
    </div>
</div>
<div class="dropdown-menu collap-content" id="contact-dropdown-menu">
    <h2>Contact</h2>
    <div class="menu-ctgs">
        <div class="menu-ctg-wrap">
            <div class="menu-link">
                <a href="" title="Fiverr">
                    Fiverr
                </a>
            </div>
            <div class="menu-link">
                <a href="" title="LinkedIn">
                    LinkedIn
                </a>
            </div>
            <div class="menu-link">
                <a href="" title="GitHub">
                    GitHub
                </a>
            </div>

        </div>
        <div class="menu-ctg-wrap">
            <div class="menu-link">
                <a href="" title="Email">
                    Email
                </a>
            </div>
            <div class="menu-link">
                <a href="" title="Online">
                    Online Form
                </a>
            </div>
        </div>
    </div>
</div>