<div class="block-padding">
    <div class="spacer"></div>
    <p class="primary">Pages</p>
    <div class="separator"></div>
    <div class="menu-link">
        <a href="/" title="Home">Home</a>
    </div>
    <div class="menu-link">
        <a href="{% url 'services' %}" title="Services">Services</a>
    </div>
    <div class="menu-link">
        <a href="{% url 'portfolio' %}" title="Portfolio">Portfolio</a>
    </div>
    <div class="menu-link">
        <a href="{% url 'contact' %}" title="Contact">Contact</a>
    </div>
    <div class="spacer"></div>

    <div class="spacer"></div>
    <p class="primary">Blog</p>
    <div class="separator"></div>
    <div class="menu-link">
        <a href="" title="Explore">Explore</a>
    </div>
    <div class="menu-link">
        <a href="" title="Latest">Latest</a>
    </div>
    <div class="menu-link">
        <a href="" title="Popular">Popular</a>
    </div>
    <div class="spacer"></div>

    <div class="spacer"></div>
    <p class="primary">Find Me</p>
    <div class="separator"></div>
    <div class="menu-link">
        <a href="" title="Fiverr">
            Fiverr
        </a>
    </div>
    <div class="menu-link">
        <a href="" title="LinkedIn">
            LinkedIn
        </a>
    </div>
    <div class="menu-link">
        <a href="" title="GitHub">
            GitHub
        </a>
    </div>
    <div class="menu-link">
        <a href="" title="Email">
            Email
        </a>
    </div>
    <div class="menu-link">
        <a href="" title="Online">
            Online
        </a>
    </div>
</div>