{% extends 'Site/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>
        {{page_title}}
    </title>
</head>

<!-- <div class="landing-cover"> -->

<!-- </div> -->

<h1>
    Josie's Page
</h1>
<p>
    Welcome to my website, portfolio and blog, Josie's Page. Here is where you can learn about me,
    my work, and how you can get in touch with me. My public portfolio is intentionally not complete for personal
    privacy purposes, but is available upon request.
</p>
<p>
    This website is for anyone, and everyone is welcome whether you intend to meet me or not. My blog is where I write
    about
    various technology topics like web development, the open source community, educational lessons, network security
    and so on.
    If you are considering my services I hope you find it useful that their descriptions can be found in the same place
    as my professional experience and work history. If you are looking to collaborate or hire me, you can stalk me whenever you want
    and view my information securely through a memorable URL accessible anywhere, anytime. 
</p>

<h1>
    Need a developer?
</h1>
<p>
    For visitors interested in my software development services, I invite you to read over my <a href="{% url 'services' %}">Services</a> page which
    goes into more detail about what they are, who they are for, answers to frequently asked questions, and how you can begin. To learn more
    about me, head over to my <a href="{% url 'portfolio' %}">Portfolio</a> next. Ready now? <a href="{% url 'contact' %}">Get in touch</a> with me today.
</p>

<h1>
    Just Browsing?
</h1>


{% endblock %}