{% extends 'Site/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>
        {{page_title}}
    </title>
</head>

<div class="landing-cover">

</div>
<div class="page-padding">
    <h1>
        Josie's Page
    </h1>
    <p>
        Welcome to my website, portfolio and blog, Josie's Page. Here is where you can learn about me,
        my work, and how you can get in touch with me. My public portfolio is intentionally not complete for personal
        privacy purposes, but is available upon request. If you want to request or redeem access, <a href="">go here</a>.
    </p>
    <p>
        
        My name is Jocelyn, or Josie, and I am an information technology professional and freelance Python
        developer in the United States passionate about building unique and fully-customized websites that distinctly represent
        my clients' purpose. Aside from software development, I enjoy expanding my IT toolkit in other areas such as 
        Linux system administration, writing applications for personal projects, and network security.
    </p>
    <p>
        When I am not focused on technology I enjoy taking a break from sitting indoors so I can tend to my physical 
        and mental health through exercise, meditation, and attending events and social gatherings with like-minded
        individuals in my community.
    </p>

    <h1>
        Quick Navigation
    </h1>
    <p>
        Use the descriptive buttons below to quickly find what you're here for, or click the hamburger icon '☰' at the top left 
        of your screen to view a full list of pages.
    </p>
</div>

{% endblock %}