@font-face {
    font-family: 'palanquin';
    src: url('/static/fonts/palanquin-regular.ttf');
}

@font-face {
    font-family: 'palanquin-bold';
    src: url('/static/fonts/palanquin-bold.ttf');
}

@font-face {
    font-family: 'palanquin-light';
    src: url('/static/fonts/palanquin-light.ttf');
}

@font-face {
    font-family: 'palanquin-semibold';
    src: url('/static/fonts/palanquin-semibold.ttf');
}

:root {
    --dark-0: #121212;
    --dark-1: #181818;
    --dark-2: #282828;
    --dark-3: #404040;

    --blue-1: #2B79C1;
    --blue-2: #2D4BA3;
    --blue-3: #2E3293;

    --lwhite: #b3b3b3;
}

body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--dark-0);
}

h1 {
    font-family: 'palanquin';
    font-size: 48px;
    color: var(--blue-2);

}

h2 {
    font-family: 'palanquin';
    font-size: 42px;
    color: var(--blue-2);
}

h3 {
    font-family: 'palanquin';
    font-size: 32px;
    color: var(--blue-2);
}

h4 {
    font-family: 'palanquin';
    font-size: 28px;
    color: var(--blue-2);
}

h5 {
    font-family: 'palanquin';
    font-size: 24px;
    color: var(--blue-2);
}

p {
    font-family: 'palanquin';
    font-size: 22px;
    color: var(--lwhite);
}

i {
    font-family: 'palanquin-light';
    font-style: italic;
}

a {
    color: var(--blue-2);
}

a:hover {
    color: var(--blue-1);
}

a:visited {
    color: var(--blue-3);
}

input {
    width: 100%;
    border-radius: none;
    border: none;
    font-family: 'palanquin';
    font-size: 20px;
    background-color: var(--dark-3);
    color: white;
}

button {
    border: none;
    font-family: 'palanquin';
    font-size: 20px;
    background-color: var(--blue-2);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
}

/* Wraps the whole page */
.page-container {
    position: relative;
    min-height: 100vh;
}

/*
 Wraps just the page content
 Do not put anything below here besides the footer.
*/
.content-area-wrap {
    padding-bottom: 150px;
}

.content-area {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-content-wrap {
    width: 100vw;
    padding-right: 40px;
}

.page-content {}

.sidebar {
    width: 100vw;
}

.left-sidebar {
    display: none;
}

.header {
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: inset 1px 6px 9px -6px;
    padding-bottom: 16px;
    background-color: var(--dark-1);
}

.header-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.menu-collapsible-btn {
    height: 60px;
    width: 60px;
    padding-right: 20px;
    padding-top: 16px;
    padding-left: 16px;
}

.menu-collapsible-btn img {
    height: 35px;
}

.collapsible {
    outline: none;
}

.collap-content {
    display: none;
    overflow: hidden;
}

.header-bar-btn-wrap {
    padding-right: 40px;

}

.header-bar-btn-wrap a {
    text-decoration: none;
}

.header-bar-btn {
    text-decoration: none;
    padding-top: 10px;
}

.header-bar-btn span {
    text-align: center;
    font-family: 'palanquin';
    color: white;
    font-size: 22px;
}

.header-bar-btn:hover span {
    color: var(--blue-1);
}

.header-bar-btn:active span {
    font-weight: bold;
    color: var(--blue-1);
}


.dropdown-menu {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.8) 84%);
    z-index: 10;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px var(--blue-1);
    height: 100%;

}

.menu-ctgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.menu-ctg-wrap {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.menu-ctg-wrap p {
    font-size: 24px;
    font-weight: bold;
}

.menu-ctg {}

.menu-link:hover {
    transition: 0.2s ease-in-out;
    transform: translateX(4px);
}

.menu-link:hover a {
    color: var(--blue-1);
}

.menu-link:active {
    transition: none;
    transform: translateX(0px);
}

.menu-link:active a {
    color: var(--blue-0);
}

.menu-link a {
    text-decoration: none;
    font-family: 'palanquin';
    color: white;
    font-size: 22px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: var(--dark-1);
    border-top: 1px solid var(--blue-1)
}

footer>* {
    color: var(--lwhite);
}

.secondary {
    color: var(--lwhite);
}

.lg-secondary {
    font-size: 26px;
    color: var(--lwhite);
}

.primary {
    color: var(--blue-2);
}

.lg-primary {
    font-size: 26px;
    color: var(--blue-2);
}

.noshow {
    display: none;
}

.spacer {
    padding-top: 20px;
}

.lg-spacer {
    padding-top: 40px;
}

.separator {
    border-bottom: 1px solid var(--blue-1);
    width: 100%;
}

.landing-cover {
    min-height: 400px;
    width: 100%;
    background-color: black;
}

.page-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.block-padding {
    padding: 10px;
}

.heading-parallax {
    background-image: url("/static/images/abstract_blue_1.jpg");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.heading-parallax h1 {
    color: white;
    font-family: 'palanquin-bold';
}

.to-top {
    border: none;
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99;
    height: 40px;
    cursor: pointer;
    width: 40px;
    background-color: rgba(45, 75, 163, 0.4);
}
.to-top:hover {
    background-color: rgba(45, 75, 163, 0.8);
}
.to-top:active {
    background-color: var(--blue-1);
    transition: 0.1s ease-out;
    transform: translateY(6px);
}
.to-top img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
}

.portfolio-nav-btn {
    border: none;
    display: block;
    position: fixed;
    bottom: 72px;
    right: 16px;
    z-index: 99;
    height: 40px;
    cursor: pointer;
    width: 40px;
    background-color: rgba(45, 75, 163, 0.4);
}
.portfolio-nav-btn:hover {
    background-color: rgba(45, 75, 163, 0.8);
}
.portfolio-nav-btn:active {
    background-color: var(--blue-1);
    transition: 0.1s ease-out;
    transform: translateY(6px);
}
.portfolio-nav-btn img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
}

@media only screen and (min-width: 1024px) {
    .header-bar-btn-wrap {
        display: block;
    }

    .menu-ctg-wrap {
        flex: 0.5;
    }

    .page-content-wrap {
        width: 70vw;
        padding-right: 40px;
    }

    .sidebar {
        flex: 1;

    }
    .portfolio-nav-btn {
        display: none;
    }

}

@media only screen and (min-width: 1500px) {
    .page-content-wrap {
        flex: 1;
    }

    .sidebar {
        all: unset;
        width: 20vw;
    }

    .left-sidebar {
        display: block;
        width: 20vw;
        padding-right: 40px;
    }
}